/*Google Font Area */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;600;700;800;900&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Common Styles in the website*/
* {
    font-family: 'Inter', sans-serif;
    font-family: 'Merriweather', serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Work Sans', sans-serif;
}

:root {
    --main-color: #3A3A3A;
}

p {
    font-size: 12px;
}

/* Start Header Section */
header {
    border: 2px solid brown;
    padding: 70px 110px;
    width: 100%;
    margin: 0 auto;
    /* font-feature-settings: 'clig' off, 'liga' off; */
}

/* Top Header */
.header-top {
    line-height: 50px;
    border: 1px solid green;
    display: flex;
    justify-content: space-between;
}

.header-logo {
    color: var(--main-color);
    font-size: 20px;
    font-weight: 700;
}

ul {
    gap: 28px;
    display: flex;
}

li {
    color: var(--main-color);
    font-size: 15px;
    font-style: normal;
    font-weight: 600;
    list-style: none;
}

/* Camera Section */
.camera-section {
    border: 2px solid red;
    margin: 10px 0 0 0;
    padding: 30px 0 0 0px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 80px;
    overflow: hidden;
}

.camera-section-left {
    padding: 90px 0 0 0px;
    max-width: 450px;
}

#camera-section-title {
    color: var(--main-color);
    font-size: 32px;
    font-weight: 700;
    overflow: hidden;
}

.custom-button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 20px;
    border: none;
    border-radius: 41px;
    background: #E02C6D;
    color: white;
    font-size: 13px;
    cursor: pointer;
    position: relative;
}

.arrow {
    margin: 0 0 0 10px;
}

.camera-section-right {
    background-image: url(../images/Circle\ design.png);
    background-size: cover
}

.camera-section-description {
    padding: 15px 0 30px 0;
}

/* Company Logo Area */
.company-logo {
    margin: 50px 0;
    border: 2px solid red;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 50px;
    flex-wrap: wrap;
}

/* End Header Section */
/* Start Popular Collection Section */

main {
    border: 3px solid red;
    width: 100%;
    padding: 5px 50px;
    margin: 0 auto;
}

h2 {
    padding: 30px 0;
    text-align: center;
}

.products {
    padding: 5px;
    border: 1px dotted crimson;
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    justify-content: space-around;
    align-content: center;
}

.product-details {
    width: 100%;
    padding: 16px;
    border-radius: 5px;
    border-radius: 5px;
    background: #FFF;
    box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.15);
}

.product-details img {
    width: 100%;
    margin: 0 auto;
}

.product-description {
    padding: 10px 0;
    font-family: Inter;
    font-size: 11px;
    font-weight: 700;
    line-height: 140%;
    letter-spacing: 0.200px;
}

.see-more {
    text-align: right;
    padding: 10px 20px;
    color: rgba(224, 44, 109, 0.87);
    font-size: 13px;
    cursor: pointer;
    font-weight: 800;
}

.material-symbols-outlined {
    color: #FB8200;
    padding: 0;
}

h3,
h4 {
    padding: 10px 0;
}

.featured-section {
    margin: 50px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 85px;
}


footer {
    gap: 20px;
    padding: 130px 0;
    background: #0A0826;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width:576px) {

    p,
    {
    text-align: center;
}

#camera-section-title {
    font-size: 40px;
    text-align: center;
}

.header-top,
.camera-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

header {
    padding: 70px 30px;
}

.camera-section {
    flex-direction: column-reverse;
    padding: 0;
    margin: 0;
}

.camera-section-left {
    padding: 0;
    margin: 0;
}


.company-logo {
    line-height: 50px;
}

.featured-section {
    text-align: center;
    margin: 20px 0;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
}

.products {
    display: flex;
    flex-direction: column;
}

.custom-button {
    width: 60%;
    margin: 0 auto;
    padding: 10px 20px;
}
}